.fullscreen {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 400px;
    background: white;
    padding: 1.5rem;
    border-radius: 4px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .input {
    font-size: 15px;
}

.modal h2, p, .button {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    align-items: center;
}

.modal .footer {
    display: flex;
    flex-direction: row;
}

.modal .choice {
    width: 100px;
}

/*이동버튼*/

.modal .voteButton{
    border:none;
    border-radius:4px;
    font-size:1rem;
    padding:0.25rem 1rem;
    color:white;
    outline:none;
    cursor:pointer;
    background:#000000;
}


.picker {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.custom-check-box {
    margin: 10px;
    width: 15px;
    height: 15px;
}

.custom-check-box:hover {
    box-shadow: 10px 10px 10px grey;
    border: 1px solid black;
}

.input {
    display: flex;
    flex-direction: row;
}
li {
    margin-top:10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.day {
    font-size: 15px;
}

.day div {
    margin: 10px;
    margin-top: 0px;
}

.day div label {
    margin-right: 10px;
}

.input {
    margin-bottom: 10px;
}

.end {
    font-size: 12px;
    display: flex;
}

.end p{
    margin-top: 8px;
    margin-right: 5px;
}



